{% extends 'bootstrap/base.html' %}

{% block title %}
    Herd
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Herd</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('list') }}">Destinations</a></li>
                    <li><a href="{{ url_for('add_friends') }}">Add Friends</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.name }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>    
    </nav>
{% endblock %}

{% block content %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154977132-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154977132-1');
    </script>
    <div class="container">
        {% block app_content %}{% endblock app_content %}
    </div>

    {% block footer %}
    <hr />
    <footer>
        <div class="text-center">
            <p>Welcome to the Herd Community</p>
            <hr style="width: 150px; border-top: 1px solid darkorange;"/>
            <p>Joe Berusch | Andrew Roth</p>
        </div>
    </footer>
    <br />
    {% endblock footer %}
{% endblock content %}