{% extends "base.html" %}

{% block app_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<div class="container">
    <div class="container">
        <h3>welcome to</h3>
        <h1>Herd</h1>
        <p>Find places you'll love based on where your friends have gone</p>
        <br />
        <a href="{{ url_for('add_friends') }}" class="btn btn-primary btn-xl mt-5">Find Your Herd</a>
    </div>

    <div class="container">
        <hr class="featurette-divider">
        <div class="container">
            <div class="col-md-5">
                <h2 class="text-left">We believe in uniting communities through <span class="text-muted">shared experience and discovery.</span></h2>
            </div>
            <div class="col-md-5">
                <img class="img-circle img-fluid" src="https://vignette.wikia.nocookie.net/symbolism/images/4/43/Orange.png/revision/latest?cb=20140818120046">
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="container">
            <div class="col-md-5">
                <img class="img-circle img-fluid" src="https://vignette.wikia.nocookie.net/symbolism/images/4/43/Orange.png/revision/latest?cb=20140818120046">
            </div>
            <div class="col-md-5">
                <h2 class="text-right">Explore based on the people who matter most to you.</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}