{% extends "base.html" %}

{% block app_content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    const change_num = (dest_id, value) => {
        $.post('/change_num_visits', {
                destination_id: dest_id,
                value: value,
            }).done((response) => {
                $('#times-user-visited-' + dest_id).text(response['new_num_visits'])
            }).fail(() => {
                console.log('error!')
            });
    }

    const send_delete_signal = (dest_id) => {
        $.post('/delete_destination', {
            destination_id: dest_id
        }).done(resp => {
            // do nothing
            console.log('finished')
        }).fail(() => {
            // do nothing
        })
    }
</script>
<div class="text-center">
    <a href="{{ url_for('list', region='Nashville') }}" style="text-decoration: {{ 'underline' if region != 'Nashville' else 'none' }};">Nashville</a> | 
    <a href="{{ url_for('list', region='Cleveland') }}" style="text-decoration: {{ 'underline' if region != 'Cleveland' else 'none' }};">Cleveland</a>
</div>
<table class="table table-hover">
{% for (index, dest) in destinations %}
    <tr>
        <td>
            <img src="{{ dest.img_src }}"/>
            <h3>{{ dest.name }}</h3>
            <p><a href="{{ dest.yelp_link }}" target="_blank">More Info</a></p>   
        </td>
        <td>
            <p>Friends Visited: {{ context[index].friends_visited|length }}</p>
            <p>Times Visited by Friends: {{ context[index].num_visits_by_friends }}</p>
            <p>Visited By:</p>
            <ul>
            {% for friend in context[index].friends_visited %}
                <li><a href="{{ url_for('user', username=friend.username if friend.username else '') }}">{{ friend.name }}</a></li>
            {% endfor %}
            </ul>
        </td>
        <td>
            <p>Times You've Visited: <span id="times-user-visited-{{ dest.destination_id }}">
                {{ context[index].num_visits_by_current_user }}
            </span></p>
            <div style="flex-direction: row;">
                <a href="javascript:change_num({{ dest.destination_id }}, -1)"><button>-</button></a>
                <a href="javascript:change_num({{ dest.destination_id }}, 1)"><button>+</button></a>
            </div>
            <br />
            {% if current_user.username == 'andrew' or current_user.username == 'jberusch' %}
                <p><a href="javascript:send_delete_signal({{ dest.destination_id }})">(Remove This Destination)</a></p>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
<div class="text-center">
    {% if prev_url %}
        <a href="{{ prev_url }}">Previous</a>
    {% endif %}
    | Results {{ (page_number - 1) * 10 + 1 }} - {{ (page_number) * 10 }} |
    {% if next_url %}
        <a href="{{ next_url }}">Next</a>
    {% endif %}
</div>
{% endblock %}