{% extends "base.html" %}

{% block app_content %}
<table class="table table-hover">
{% for (index, dest) in destinations %}
    <tr>
        <td width="70px">
            <img src="{{ dest.img_src }}"/>
            <h3>{{ dest.name }}</h3>
            <p>{{ dest.address }}</p>
            <p><a href="{{ dest.yelp_link }}" target="_blank">More Info</a></p>   
        </td>
        <td>
            <p>Friends Visited: {{ context[index].friends_visited|length }}</p>
            <p>Times Visited by Friends: {{ context[index].num_visits_by_friends }}</p>
        </td>
        <td>
            <p>Times You've Visited: {{ context[index].num_visits_by_current_user }}</p>
            <div style="flex-direction: row;">
                <a href="{{ url_for('change_num_visits', value=-1, dest_index=index) }}"><button>-</button></a>
                <a href="{{ url_for('change_num_visits', value=1, dest_index=index) }}"><button>+</button></a>
            </div>        
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}