{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="container row text-left">
        <div class="col-xs-2">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="img-rounded img-thumbnail img-fluid"/>
        </div>
        <div class="col-xs-3">
            <h1>{{ user.name }}</h1>
            <h3><strong>{{ num_friends }}</strong> Following</h3>    
        </div>
    </div>
    <hr>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Destination</th>
                <th class="text-center">Times Visited</th>
            </tr>
        </thead>
    {% for assoc in destinations %}
        {% if assoc.num_visits > 0 %}
        <tr>
            <td>{{ assoc.destination.name }}</td>
            <td class="text-center">{{ assoc.num_visits }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
{% endblock %}